@import "variables";

.section1-content {
  display: block;
  text-align: center;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
  padding: 6px 0px;
  box-sizing: border-box;
}

.section1-product-img {
  max-width: 150px;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 3px 3px 6px #d7d7d7;
  border-radius: 10px;
  margin: 0 auto 15px;
}

.section1-product-img img {
  height: 150px;
  max-width: 150px;
  width: 100%;
  margin: 0 auto;
  object-fit: contain;
}
@media(max-width:450px){
  .section1-product-img {
    height: 100px;
  }
  
  .section1-product-img img {
    height: 100px;
  }
}


