@import "variables";
/** product-details-area ****/
.product-details {
  display: block;
  // width: 95%;
  height: auto;
  box-sizing: border-box;
  background-color: #fff;
  margin: auto;
  padding: 50px 10px 50px 10px;
}
@media(max-width:820px){
  .product-details {
    padding: 70px 10px 70px 10px;
  }

}

.product-details-main {
  display: grid;
  grid-template-columns: 1.4fr 1.7fr 1.5fr;
  grid-gap: 20px 30px;
  grid-template-rows: auto;
}

.product-img {
  background-color: #fff;
  border-radius: 5px;
}

.product-img1 {
  position: relative;
  z-index: 10;
  min-height: 200px;
  max-height: 430px;
  border: 1px solid #eee;
  height: auto;
}

.product-img1 img {
  cursor: pointer;
  width: 100%;
  max-height: 430px;
  height: 100%;
  object-fit: contain;
}

.product-discount {
  width: 100%;
  position: absolute;
  top: 7px;
  left: 10px;
  display: flex;
  justify-content: space-between;

  .discount {
      color: #000;
      background-color:#FFD200;
      font-weight: 400;
      font-family: 'Poppins', sans-serif;
      padding: 6px 12px;
      box-sizing: border-box;
      font-size: 13px;
      border-radius: 5px;
  }
  .out-stock {
    color: #fff;
    background-color:$color-primary;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    padding: 6px 12px;
    box-sizing: border-box;
    font-size: 13px;
    border-radius: 5px;
    margin-right: 18px;
  }
}

.product-img-slide {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;

}

.slide-img {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: none;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}


// /***** product-info *******/
.product-info {
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.product-title {
  margin-bottom: 10px;
  box-sizing: border-box;
}
.product-title h2 {
  color: #484848;
  font-family: $font-en-primary;
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 26px;
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
/*** brand ***/
.product-brand{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  margin-top: 4px;
}
.product-brand span{
  color: #a4a4a4;
  font-family: $font-en-primary;
  font-size: 14px;
  font-weight: 500;
  display: block;
}
.product-brand a{
  color: #68caef;
  font-family: $font-en-primary;
  font-size: 14px;
  font-weight: 500;
  display: block;
}
.product-brand-area span{
  color: #a4a4a4;
  font-family: $font-en-primary;
  font-size: 14px;
  font-weight: 500;
  display: block;
}

// /** no ***/
// .product-no {
//   display: block;
//   margin-bottom: 5px;
// }

// .product-no h3 {
//   font-family: 'Poppins', sans-serif;
//   color: #000;
//   font-style: normal;
//   font-size: 15px;
//   font-weight: 600;
//   display: block;
// }

// .product-no h3 span {
//   color: #808080;
//   font-weight: 400;
//   font-family: 'Poppins', sans-serif;
//   display: inline-block;
//   font-size: 14px;
//   margin-left: 5px;
// }

// /*** categori ***/

// .product-categori {
//   display: block;
//   margin-bottom: 5px;
// }

// .product-categori h3 {
//   font-family: 'Poppins', sans-serif;
//   color: #000;
//   font-style: normal;
//   font-size: 15px;
//   font-weight: 600;
//   display: block;
// }

// .product-categori h3 a {
//   color: #808080;
//   font-weight: 400;
//   font-family: 'Poppins', sans-serif;
//   display: inline-block;
//   font-size: 14px;
//   margin-left: 4px;
//   font-style: normal;
//   transition: all 0.3s linear;
// }

// .product-categori h3 a:hover {
//   color: #3d74d5;
// }

// /*** tag ***/

// .product-tag {
//   display: block;
//   margin-bottom: 5px;
// }

// .product-tag h3 {
//   font-family: 'Poppins', sans-serif;
//   color: #000;
//   font-style: normal;
//   font-size: 15px;
//   font-weight: 600;
//   display: block;
// }

// .product-tag h3 a {
//   color: #808080;
//   font-weight: 400;
//   font-family: 'Poppins', sans-serif;
//   display: inline-block;
//   font-size: 14px;
//   margin-left: 2px;
//   font-style: normal;
//   transition: all 0.3s linear;
// }

// .product-tag h3 a:hover {
//   color: #3d74d5;
// }

/*** price ***/
.product-price {
  display: block;
  width: 100%;
  height: auto;
  padding: 8px 0px;
  margin: 10px 0px;
}
.cart-product-discount{
  display: block;
  margin-bottom: 5px;
}
.cart-product-discount span{
  color: #484848;
  font-family: $font-en-primary;
  font-size: 14px;
  font-weight: 600;
  display: block;
}
.cart-product-discount span strong{
  color: $color-primary;
  font-weight: 600;
  font-family: $font-en-primary;
}
.product-main-price h3{
  color: #00a594;
  font-weight: 700;
  font-family: 'Open Sans',sans-serif;
  font-size: 17px;
  display: block;
}

/*** description ***/
.product-other-details-area{
  display: block;
  width: 100%;
}
.product-discription {
  display: block;
  width: 90%;
  box-sizing: border-box;
  padding: 20px;
  background-color: #f3f3f3;
  border-radius: 7px;
}
// .product-discription .description{
//   border: none!important;
// }

// .product-discription p {
//   color: #808080;
//   font-weight: normal;
//   font-family: 'Poppins', sans-serif;
//   display: block;
//   width: 100%;
//   line-height: 25px;
//   font-size: 15px;
// }
.delivery-title{
  display: block;
  margin-bottom: 15px;
}
.delivery-title h3{
  color: #484848;
  font-family: $font-en-primary;
  font-weight: 600;
  display: block;
  font-style: normal;
  font-size: 17px;
}
.product-discription ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.product-discription ul li i{
  color: $color-primary;
  font-size: 15px;
  display: block;
  position: relative;
  top: 1px;
}
.product-discription ul li{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  margin-bottom: 7px;
}
.product-discription ul li span{
  font-family: $font-en-primary;
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  color: #484848;
  display: block;
}
.alternative-btn{
  display: block;
  width: 100%;
  margin-top: 25px;
}
.alternative-btn a{
  color: #fff;
  text-transform: uppercase;
  background-color: $color-primary;
  font-family: $font-en-primary;
  font-size: 16px;
  font-weight: 500;
  display: block;
  padding: 9px 18px;
  border-radius: 20px;
  display: block;
  max-width: 250px;
  text-align: center;
  width: 100%;
}
/** product-btn ***/
.product-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-basis:50%;
  gap: 10px;
  margin-bottom: 10px;
}

// .item-btn {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: row;
//   margin-right: 15px;
// }

// #mines {
//   display: block;
//   margin-right: 7px;
// }

// #mines button {
//   cursor: pointer;
//   width: 40px;
//   height: 40px;
//   border: 1px solid #ebebeb;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background-color: #fff;
//   outline: none;
//   border-radius: 5px;
//   font-family: 'Poppins', sans-serif;
//   font-weight: 500;
//   font-size: 20px;
//   color: #ccc;
//   transition: all 0.3s linear;
// }

// #mines button:focus {
//   background-color: #f2ba22;
//   color: #000;
//   border-color: #f2ba22;
// }

// #mines button:hover {
//   background-color: #f2ba22;
//   color: #000;
//   border-color: #f2ba22;
// }

// #value {
//   display: block;
//   margin-right: 7px;
// }

// #value input {
//   width: 60px;
//   height: 38px;
//   border: 1px solid #ebebeb;
//   display: block;
//   text-align: center;
//   background-color: #fff;
//   outline: none;
//   border-radius: 3px;
//   font-family: 'Poppins', sans-serif;
//   font-weight: 400;
//   font-size: 16px;
//   color: #000;
// }

// #value input:focus {
//   border-color: #f2ba22;
// }

// #plus {
//   display: block;
// }

// #plus button {
//   cursor: pointer;
//   width: 40px;
//   height: 40px;
//   border: 1px solid #ebebeb;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background-color: #fff;
//   outline: none;
//   border-radius: 5px;
//   font-family: 'Poppins', sans-serif;
//   font-weight: 500;
//   font-size: 20px;
//   color: #ccc;
//   transition: all 0.2s linear;
// }

// #plus button:focus {
//   background-color: #f2ba22;
//   color: #000;
//   border-color: #f2ba22;
// }

// #plus button:hover {
//   background-color: #f2ba22;
//   color: #000;
//   border-color: #f2ba22;
// }
.cart-product-bottom{
  display: flex;
  align-items: flex-end;
  justify-content:space-between;
  gap: 10px;
  margin-bottom: 40px;
}
.bottom-left{
  display: block;
}
.bottom-left h3{
  color: #484848;
  font-family: $font-en-primary;
  font-size: 14px;
  font-weight: 600;
  display: block;
  margin-bottom: 8px!important;
}
.bottom-left ul{
  list-style: none;
  padding: 0px;
}
.bottom-left ul li{
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}
.bottom-left ul li:last-child{
  margin: 0px;
}
.bottom-left ul li span{
  border: 1px solid #484848;
  color: #484848;
  font-weight: 500;
  font-size: 13px;
  padding: 4px 20px;
  box-sizing: border-box;
  border-radius: 20px;
  transition: all 0.3s linear;

  &.active {
    background-color: $color-primary;
    color: #fff;
    border-color:$color-primary;
  }
}

.bottom-left ul li span:hover{
  background-color: $color-primary;
  color: #fff;
  border-color:$color-primary;
}

/****bottom-right****/
.cart-items-count{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mines-btn{
  display: block;
}
.mines-btn button{
  outline: none;
  border: none;
  width: 25px;
  height: 25px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-family: $font-en-primary;
  font-size: 16px;
  background-color: #a4a4a4;
  border-radius: 15px 0px 0px 15px;
  padding: 0px;
  margin: 0px;

}
.cart-input-box input{
  display: block;
  width: 50px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  outline: none;
  border: none;
  text-align: center;
  font-weight: 600;
  color: #484848;
  font-family: $font-en-primary;
  font-size: 14px;
}
.plus-btn button{
  outline: none;
  border: none;
  width: 25px;
  height: 25px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-family: $font-en-primary;
  font-size: 16px;
  background-color: #a4a4a4;
  border-radius: 0px 15px 15px 0px;
}
.cart-items-count button:hover{
  background-color: $color-primary;
}

/** add-btn ***/
.add-btn {
  display: block;
  max-width: 190px;
  width: 100%;

  .out-of-stock {
    border: 1px solid #ff5825;
    background-color: #ff5825;

    &:hover {
      background-color: #ff5825;
    }
  }
}

.add-btn a {
  cursor: pointer;
  display: block;
  max-width: 180px;
  padding: 1px 0px;
  text-align: center;
  box-sizing: border-box;
  // background-color: #fff;
  font-style: normal;
  font-family: $font-en-primary;
  font-size: 14px;
  font-weight: 700;
  // color: $color-primary;
  border: 1px solid $color-primary;
  border-radius: 20px;
  transition: all 0.3s linear;
  color: #fff;
  background-color: $color-primary;
}
.add-btn a:hover{
  color: #fff;
  background-color: $color-primary;
}

// /** add-wishlist **/
// .add-wishlist {
//   display: block;
//   width: 100%;
//   height: auto;
//   margin-left: 5px;
// }

// .add-wishlist a {
//   cursor: pointer;
//   display: block;
//   max-width: 180px;
//   text-align: center;
//   padding: 0px 0;
//   box-sizing: border-box;
//   background-color: #FFD200;
//   border-radius: 3px;
//   font-style: normal;
//   font-family: 'Poppins', sans-serif;
//   font-size: 14px;
//   font-weight: 400;
//   color: #000;
//   box-shadow: none;
//   border: 1px solid transparent;
// }

// .add-wishlist a span {
//   font-size: 15px;
//   transition: all 0.3s linear;
//   margin-right: 3px;
// }

// // .add-wishlist a:hover {
// //   color: #3d74d5;
// // }

// // .add-wishlist a:hover span {
// //   color: #3d74d5;
// // }

// /** social-area **/
// .change-width {
//   max-width: 40px !important;
//   width: 100%;
// }

// .change-width1 {
//   width: 32px !important;
// }

// .social-link {
//   margin-top: 8px;
//   margin-bottom: 10px;
// }

// .social-link ul {
//   list-style: none;
//   padding: 0;
//   margin: 0;
//   display: flex;
//   align-items: flex-start;
//   justify-content: flex-start;
// }

// .social-link ul li {
//   display: block;
//   margin-right: 10px;
//   width: 25px;
// }

// .social-link ul li a i {
//  font-size: 24px;
// }

// /** product-policy-area **/
// .product-policy-area {
//   display: block;
//   width: 100%;
//   height: auto;
//   box-sizing: border-box;
//   margin-top: 40px;
//   margin-bottom: 20px;
// }

// .policy-menu {
//   display: block;
//   width: 100%;
//   height: auto;
// }

// .policy-menu ul {
//   list-style: none;
//   padding: 0px;
//   margin: 0px;
// }

// .policy-menu ul li {
//   display: inline-block;
//   margin-right: -3px;
//   padding: 0px;
// }

// .policy-menu ul li a {
//   color: #000;
//   font-family: 'Poppins', sans-serif;
//   font-weight: 500;
//   font-size: 14px;
//   font-style: normal;
//   display: block;
//   background-color: #fff;
//   padding: 9px 13px;
//   box-sizing: border-box;
//   transition: all 0.3s linear;
//   cursor: pointer;

//   &.active {
//     background-color: $color-primary;
//     color: #fff;

//     &:hover {
//       color: #FFFFFF;
//     }
//   }
// }

// .policy-menu ul li a:hover{
//   color: $color-primary;
// }

// .policy-menu ul li a:focus{
//   background-color: #3d74d5;
//   color: #fff;
// }



// .dv-details {
//   display: inline-block;
//   width: 90%;
//   height: auto;
//   border: 1px solid #ebebeb;
//   padding: 25px 25px;
//   box-sizing: border-box;
//   border-radius: 3px;

// }

// .dv-details p {
//   color: #333;
//   font-weight: 400;
//   font-family: 'Poppins', sans-serif;
//   font-style: normal;
//   display: block;
//   font-size: 13px;
//   line-height: 24px;
// }


// /** product-menu **/
// @media(max-width:500px){
//   .product-menu ul{
//     text-align: center;
//   }
//   .product-details-menu-area{
//     width: 98%;
//   }

// }
// /** product-details **/
// @media(max-width:920px){
//   .product-details-main{
//     grid-template-columns: 1fr;
//   }
//   .product-img{
//     margin-bottom: 20px;
//   }
// }
// @media(max-width:500px){
//   .product-details{
//     width: 100%;
//   }
//   .product-details p{
//     font-size: 14px;
//   }
//   .product-discription{
//     width: 100%;
//   }

// }
// @media(max-width:550px){

//   .product-img-slide {
//     width: 100%;
//     max-width: 300px;
//     //margin: 0 auto;

//   }

//   .product-img1 {
//     //position: relative;
//     //z-index: 10;
//     height: auto;
//   }

//   .product-img1 img {
//     //cursor: pointer;
//     //width: 100%;
//     //height: auto;
//     //max-height: 100%;
//     //object-fit: contain;
//   }
//   .dv-details{
//     width: 100%;
//   }
// }
// @media(max-width:500px){
//   .policy-menu ul li{
//     display: block;
//     margin-bottom: 5px;
//   }
//   .policy-menu ul li a{
//     text-align: center;
//     border-radius: 4px;
//   }
// }


@media(min-width:960px) and (max-width:1440px){
  .container{
    width: 94%!important;
  }
  // .slide-img {
  //   width: 100%;
  //   height: 90px;
  // }
  // .product-title{
  //   margin-bottom: 13px!important;
  // }
  // .product-title h2{
  //   font-size: 18px!important;
  // }
  // .product-no{
  //   margin-bottom: 3px!important;
  // }
  // .product-no h3{
  //   font-size: 14px!important;
  // }
  // .product-no h3 span{
  //   font-size: 13px!important;
  // }
  // .product-categori{
  //   margin-bottom: 3px!important;
  // }
  // .product-categori h3{
  //   font-size: 14px!important;
  // }
  // .product-categori h3 a{
  //   font-size: 13px!important;
  // }

  // .product-tag{
  //   margin-bottom: 3px!important;
  // }
  // .product-tag h3{
  //   font-size: 14px!important;
  // }
  // .product-tag h3 a{
  //   font-size: 13px!important;
  // }


  // .product-price {
  //   padding: 6px 0px;
  //   margin: 8px 0px;
  // }

  // .product-price h3 {
  //   font-size: 19px;
  // }

  // .product-price h3 del {
  //   font-size: 17px;
  // }
  // #plus button{
  //   width: 36px;
  //   height: 36px;
  // }
  // #mines button{
  //   width: 36px;
  //   height: 36px;
  // }
  // #value input{
  //   width: 55px;
  //   height: 35px;
  // }
  // // .add-btn a{
  // //   padding: 7px 0px;
  // //   width: 175px;
  // // }
  // .add-wishlist ul li a{
  //   font-size: 15px;
  // }
  // .add-wishlist ul li a span{
  //   font-size: 14px;
  // }
  // .social-link ul li a img{
  //   max-width: 36px;
  // }
}


// @media(min-width:940px) and (max-width:1070px){
//   .product-btn{
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     grid-gap: 5px;
//   }
//   .item-btn{
//     grid-column-start: 1;
//     grid-column-end: 4;
//     grid-row-start: 1;
//     grid-row-end: 2;
//     justify-content: flex-start;
//     margin-bottom: 10px;
//   }
//   .add-wishlist a,.add-btn a{
//     max-width: 220px;
//     padding-left: 5px;
//     min-width: 130px;
//     padding-right: 5px;
//     box-sizing: border-box;
//   }
// }
// @media(max-width:550px){
//   .item-btn{
//     grid-column-start: 1;
//     grid-column-end: 4;
//     grid-row-start: 1;
//     grid-row-end: 2;
//     justify-content: flex-start;
//     margin-bottom: 10px;
//   }
//   .add-wishlist a,.add-btn a{
//     max-width: 220px;
//     padding-left: 5px;
//     min-width: 130px;
//     padding-right: 5px;
//     box-sizing: border-box;
//   }

// }
@media(max-width:1000px){
  .product-details-main{
    grid-template-columns: 1.3fr 2fr;
  }
}
@media(max-width:600px){
  .product-details-main{
    grid-template-columns: repeat(1, 1fr);
  }
  .product-discription{
    width: 100%;
  }
}
::ng-deep.share share-button button{
  display: inline-block;
  width: 35px;
  height: 35px;
  color: #fff;
  border: 1px solid transparent;
  outline: none;
  font-style: normal;
  font-weight: 600;
  margin-right: 10px;
  border-radius: 2px;
}
::ng-deep.share share-button:nth-child(1) button{
  background-color: #3B5998;
}
::ng-deep.share share-button:nth-child(2) button{
  background-color: #5DA9DD;
}
::ng-deep.share share-button:nth-child(3) button{
  background-color: #0077B5;
}
::ng-deep.share share-button button fa-icon{
  font-size: 14px;
}
